<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <button type="button" class="mobile btn-mobile-menu" aria-controls="mobile-navigation" aria-expanded="false" aria-label="打开导航菜单">
        <i class="fa fa-list btn-mobile-menu__icon" aria-hidden="true"></i>
        <i class="fa fa-angle-up btn-mobile-close__icon hidden" aria-hidden="true"></i>
    </button>
    
    {% include side-panel.html %}
    {% include mobile-navigation.html %}

    <div class="content-wrapper">
        <div class="content-wrapper__inner">
            {{ content }}
            {% include footer.html %}
        </div>
    </div>
    
    {% include external.html %}
    
  </body>

</html>
